:root {
  --x-font-family: "Libre Baskerville", serif;
  --x-primary-color: #095cec;
  --x-secondary-color: #df2f2f2;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-weight: bolder;
  font-family: var(--x-font-family);
}
h2 {
  font-size: 24px;
  font-family: var(--x-font-family);
}
h3,
.logo {
  opacity: 0.8;
  font-size: 20px;
  font-family: var(--x-font-family);
}
nav {
  padding: 10px 0;
}

nav ul {
  margin-top: 20px;
  padding: 0;
}

nav li {
  display: inline;
  font-family: var(--x-font-family);
  line-height: 42px;
  list-style: none;
}

nav a {
  color: var(--x-secondary-color);
  margin-left: 15px;
  text-decoration: none;
}

nav a:hover,
nav li.active a {
  color: var(--x-primary-color);
  font-weight: bold;
  transition: all 100ms ease-in-out;
}
.logo {
  margin-top: 20px;
}
footer,
.containe,
.bio {
  background-color: var(--x-secondary-color);
}
.section {
  margin: 10px;
  padding: 10px;

  border-radius: 20px;
  box-shadow: var(--box-shadow);
  font-family: var(--x-font-family);
  background-image: url(/images/undraw_Programmer_re_owql.png);
}

.section-1 {
  margin-top: 100px;
  margin-bottom: 300px;
  padding: 2px;

  color: black;
}

.technologies {
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-top: 20px;
  padding: 20px;
  font-size: 24px;
}
.technologies ul {
  list-style-type: none;
  font-size: 30px;
  display: flex;
  justify-content: space-evenly;
}
.technologies small {
  padding-left: 20px;
  font-size: 14px;
}

.aboutlink a {
  margin-top: 20px;
  border-radius: 4px;
  padding: 5px 5px;
  text-decoration: none;
  text-transform: capitalize;
}

.about-link {
  background: var(--x-primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.aboutlink a:hover {
  background-color: var(--x-secondary-color);
}

.socials a {
  padding: 10px 15px;
  margin-top: 20px;
  font-size: 10px;
  color: var(--x-primary-color);
  background-color: var(--x-secondary-color);
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
.socials a:hover {
  background-color: #095cec;
  color: white;
  cursor: pointer;
}
.socials {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.launch {
  border-radius: 4px;
  padding: 20px 15px;
  text-transform: capitalize;
  box-shadow: var(--box-shadow);
  color: white;
}

.contactbox {
  display: flex;
  justify-content: center;
  background-color: var(--x-secondary-color);
}
@media (max-width: 700px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 24px;
  }
  nav a {
    font-size: 14px;
  }
  .imgs {
    display: none;
  }
  .section,
  .technologies,
  footer {
    font-size: 14px;
    line-height: 1.5;
  }
  .contactbox,
  .socials,
  .technologies ul {
    display: block;
    font-size: 14px;
    padding: 0;
    text-align: center;
  }

  .logo {
    display: none;
  }
  p {
    font-size: 14px;
  }
  .mywork {
    display: block;
    text-align: center;
    font-size: 10px;
  }
}
