:root {
  --font-family: "Libre Baskerville", serif;
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  font-family: var(--font-family);
  background-color: var(--secondary-color);
  padding: 5px;
}
h1 {
  font-weight: bolder;
}
h2 {
  font-size: 24px;
}
h3 {
  opacity: 0.8;
  font-size: 20px;
}
.container {
  margin: 10px;
  padding: 10px;
  font-family: var(--font-family);
  background-image: url(/images/IMG_20211108_125109.jpg);
}
.section-1 {
  margin-top: 400px;
  padding: 2px;
  text-align: left;
  color: white;
}

.technologies {
  border-radius: 20px;
  margin-top: 20px;
  padding: 20px;
  font-size: 24px;
  background-color: antiquewhite;
}
.technologies ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
.technologies small {
  padding-left: 20px;
  font-size: 10px;
}

.aboutlink a {
  margin-top: 20px;
  border-radius: 4px;
  padding: 5px 5px;
  text-decoration: none;
  text-transform: capitalize;
}

.about-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
socials {
  display: flex;

  justify-content: center;
}
.socials a {
  padding: 20px 15px;
  margin-top: 20px;
  font-size: 24px;
}
p {
  margin: 10px;
  padding: 15px;
}
launch {
  margin-top: 20px;
  padding: 20px;
}
launch-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
@media (max-width: 700px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 14px;
  }
  .launch-link {
    display: block;
    margin: 5px;
    text-align: center;
  }
}
