:root {
  --font-family: "Libre Baskerville", serif;
  --primary-color: #095cec;
  --secondary-color: #ded5c8;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  font-family: var(--font-family);
  background-color: var(--secondary-color);
  padding: 5px;
}
h1 {
  font-weight: bolder;
}
h2 {
  font-size: 24px;
}
h3 {
  opacity: 0.8;
  font-size: 20px;
}
.section {
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  font-family: var(--font-family);
  background-image: url(/images/undraw_Programmer_re_owql.png);
}

.section-1 {
  margin-top: 100px;
  margin-bottom: 300px;
  padding: 2px;
  text-align: left;
  color: black;
}

.technologies {
  border-radius: 20px;
  margin-top: 20px;
  padding: 20px;
  font-size: 24px;
}
.technologies ul {
  list-style-type: none;
  font-size: 30px;
  display: flex;
  justify-content: space-evenly;
}
.technologies small {
  padding-left: 20px;
  font-size: 14px;
}

.aboutlink a {
  margin-top: 20px;
  border-radius: 4px;
  padding: 5px 5px;
  text-decoration: none;
  text-transform: capitalize;
}

.about-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.about-link a:hover {
  color: white;
}
footer {
  background-color: var(--secondary-color);
}
socials {
  display: flex;
  justify-content: center;
}
.socials a {
  padding: 10px 15px;
  margin-top: 20px;
  font-size: 10px;
  color: #095cec;
  background-color: var(--secondary-color);
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
.socials a:hover {
  background-color: #095cec;
  color: white;
  cursor: pointer;
}

.launch {
  border-radius: 4px;
  padding: 20px 15px;
  text-transform: capitalize;
  box-shadow: var(--box-shadow);
  color: white;
}

@media (max-width: 700px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 24px;
  }
  .section,
  .technologies,
  footer {
    display: flex;
  }
  p {
    font-size: 14px;
  }
}
